.resume{
  padding-left: 7rem !important;
}
.image-container {
  width: 110px ;
  height: 110px;
  border-radius: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  border-radius: 5px;
  background-size: auto;
  box-shadow: 1px 2px 3px rgba(3, 32, 51, .8);
  overflow: hidden;
}

.contentSkill {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-end;
  background: rgba(0, 0, 0, .4);
  opacity: 0;
  transition: .5s;
}
.contentSkill:hover .icon {
  opacity: 1;
}
.img-fluid{
  border-radius: 20%;
  max-width: 85%;
}


.item {
  position: relative;
  overflow: hidden;
}

.icon-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
  background-color: #f0f0f0; /* Cambia esto al color deseado */
}

.icon-container i {
  opacity: 1;
  font-size: 90px;
  color: var( --color-primary);
}

.item:hover .icon-container {
  opacity: 0.3;
}

.contentSkill {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  color: #f0f0f0;
  background-color: rgba(0, 0, 0, 0.8); /* Cambia esto al color deseado */
}
.icon-link{
  text-decoration: none;
  color:  var( --color-primary);
}
.item:hover .contentSkill {
  opacity: 1;
}



.copyright {

  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #f0f0f0; /* Cambia el color de fondo según tus preferencias */
}
@media only screen and (max-width: 900px) {
  .resume{
    padding-left: 10% !important;
  }
}