.resume{
  padding-left: 7rem !important;
}
.image-container {
  width: 110px ;
  height: 110px;
  border-radius: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  border-radius: 5px;
  background-size: auto;
  box-shadow: 1px 2px 3px rgba(3, 32, 51, .8);
  overflow: hidden;
}

.contentSkill {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-end;
  background: rgba(0, 0, 0, .4);
  opacity: 0;
  transition: .5s;
}
.contentSkill:hover .icon {
  opacity: 1;
}
.img-fluid{
  border-radius: 20%;
  max-width: 85%;
}
.icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent; /* Fondo transparente */
}
.icon {
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 20;
  color: var(--color-primary);
}



@media only screen and (max-width: 900px) {
  .resume{
    padding-left: 10% !important;
  }
}