
<section id="about" >
  <div class="container" data-aos="zoom-in-left" >

    <div class="section-title">
      <h2>About</h2>
      <p>
        Web designers play an important role in the success of a website. They are responsible for creating websites that are not only visually appealing but also user-friendly and effective in achieving their business goals.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8cLhf2DpXUjKQ481fKEXJCsvOlhhvuosbdQ&usqp=CAU" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content">
        <h3> &amp; Web Designer.</h3>
        <p class="fst-italic">
          user experience (UX) design, and front-end development to create websites that are both visually appealing and easy to use. Web designers typically have a strong understanding of HTML, CSS, and JavaScript, and they may also be proficient in using web design software such as Adobe Photoshop, Illustrator, and Sketch
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>1 feb</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>example</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>50</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>email@example.com</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
            </ul>
          </div>
        </div>
        <b>Languages:</b>
        <p>English and Spanish</p>
          <app-button-skill text="DONWLOAD CV" link=""></app-button-skill>
          <app-button-skill text="Check Portfolio" link=""></app-button-skill>
      </div>
    </div>

  </div>
  <section id="resume" data-aos="fade-up" class="resume face-on-animated  my-5 fw-semibold" style="background-color: #f4f4f4;">
  <div class="row container justify-content-center ">
    <h3 class="resume-title">Education</h3>
    <div class="resume-item col-12 col-md-6">
      <h4>University education  </h4>
      <h5>2022</h5>
      <p><em>EU</em></p>
      <p>Currently studying Computer</p>
    </div>
    <div class="resume-item col-12 col-md-6">
      <h4>University education  </h4>
      <h5>2020</h5>
      <p><em>EU</em></p>
      <p>The student is currently studying computer science at the EU.</p>
    </div>

  </div>
  <h3 class="resume-title">Experience</h3>
  <div class="resume-item col-12 col-md-6">
    <h4>Web Designer</h4>
    <h5>2023</h5>
    <p><em>EU</em></p>
        <p>
            Work with design for the page Example.com
        </p>
  </div>
</section>


</section><!-- End About Section -->