<section class="">
    <div class="section-title mt-3">
        <h2>Contact Me</h2>
      </div>
      <div class="row justify-content-center" style="background-color: #e3edf5;">
        <div class="col-10 col-md-5">
          <img src="../../assets/img/contact.webp" alt="" style="width: 100%;">
        </div>  
        <div class="col-10 col-md-5">
          <div class="section-title mt-3">
            <h2>Contact the  links</h2>
          </div>
          <a href=""><img src="" alt=""></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
          <a href=""><i class="bi bi-github"></i></a>
          <a href=""><img src="" alt=""></a>
        </div>
      </div>
</section>
