<div class="modal-dialog px-4">
    <div class="modal-content">
      <div class="modal-header">
        <div class="button-close">
          <button  type="button" class="close buttonC   scrollto" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true" class="thing">&times;</span>
          </button>
        </div>
        <h5 class="modal-title">
                    <b>
                        {{ selectedItem.title }}
                    </b>
                </h5>


      </div>
      <div class="modal-body container">
            <img src="{{selectedItem.img}}" alt="..." style="width: 100%;">
            <app-button-skill [text]="'Visit the page'" [link]="selectedItem.url"></app-button-skill>
            <div>
              <i *ngFor="let item of selectedItem.skill" class="{{item}} iconModal"></i>
            </div>

            <p>{{ selectedItem.description }}</p>
      </div>
    </div>
  </div>
  