
<div>
<header id="header" class="d-flex flex-column justify-content-center" >
  <nav id="navbarNavAltMarkup" class="navbar nav-menu ">
  <ul >
      <li  *ngFor="let section of sections" (click)="setActiveSection(section.name)">
        <a href="#{{section.name}}" class="nav-link scrollto" [class.active]="section.name === activeSection" >  <i class="bi {{section.class}}"></i>
          <span> {{ section.name }}</span>
        </a>
       
      </li>
    </ul> 
  </nav><!-- .nav-menu -->
  <button class="mobile-nav-toggle"id="navbarToggler" (click)="toggleMobileNav()" data-bs-target="#navbarNavAltMarkup">
    <i class="bi bi-list toggleIcon"></i>
  </button>
</header>
  <!-- main -->
    <div [ngSwitch]="activeSection">
  <app-home data-aos="fade-up-left" id="Home" *ngSwitchCase="'Home'"></app-home>
  <app-about data-aos="fade-up-left" id="About" *ngSwitchCase="'About'"></app-about>
  <app-portfolio data-aos="fade-up-left" *ngSwitchCase="'Portfolio'"></app-portfolio>

</div>
</div>

