
<div>

<header id="header" class="d-flex flex-column justify-content-center" >

  <nav id="navbarNavAltMarkup" class="navbar nav-menu ">
  <ul >
      <li  *ngFor="let section of sections" (click)="setActiveSection(section.name)">
        <a href="#{{section.name}}" class="nav-link scrollto" [class.active]="section.name === activeSection" >  <i class="bx bx-{{section.class}}"></i>
          <span> {{ section.name }}</span></a>
       
      </li>
    </ul> 
    
 
  </nav><!-- .nav-menu -->
  <button class="mobile-nav-toggle"id="navbarToggler" (click)="toggleMobileNav()" data-bs-target="#navbarNavAltMarkup">
    <i class="bx bx-menu"></i>
  </button>
</header>

  <!-- main -->
 
    <div [ngSwitch]="activeSection">
  <app-home data-aos="fade-up-left" id="Home" *ngSwitchCase="'Home'"></app-home>
  <app-about data-aos="fade-up-left" id="About" *ngSwitchCase="'About'"></app-about>
  <app-resume data-aos="fade-up-left" *ngSwitchCase="'Resume'"></app-resume>
  <app-portfolio data-aos="fade-up-left" *ngSwitchCase="'Portfolio'"></app-portfolio>
  <app-contact data-aos="fade-up-left" id="Contact" *ngSwitchCase="'Contact'"></app-contact>

</div>

        <!-- Pruebas -->
          <!-- <app-pruebas-a></app-pruebas-a>  -->
</div>

