<section style="padding: 0;">
    <section id="hero" class="d-flex flex-column justify-content-center" style="background: url('./../assets/img/fondop.png'); background-repeat: no-repeat; background-size: 100vw;">
      <div class="container text-dark container-home" >
        <h1>
          Angel Molina
        </h1>
        <p>I'm  <span class="typed-text"></span></p>
        <div class="social-links">
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-github"></i></a>

          <a href="https://www.linkedin.com/in/angel-molina-ortiz-363013272/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
    </section>
  </section>