<section class="backgroundHome" style="   background: url('./../assets/img/fondop.png'); 
padding: 0; background-repeat: no-repeat;">
    <section id="hero" class="d-flex flex-column justify-content-center" >
      <div class="container text-dark container-home" >
        <h1>
          Angel Molina
        </h1>
        <p>I'm  <span class="typed-text"></span></p>
        <div class="social-links">

          <a href="#" class="instagram"><i class="fa-brands fa-square-github"></i></a>
          <a href="https://www.linkedin.com/in/angel-molina-ortiz-363013272/" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
    </section>
  </section>